body{
  /*rgba(31, 45, 65, 0.03);*/
  background-image: rgba(31, 45, 65, 0.03);
  /* background-size:contain; */
  /* background-attachment:scroll; */
  margin:0px auto;
  position: relative;
  margin-top: 200px;


}
nav{
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height: 50px;
  background: purple;
}
ul{
  list-style:none;
}
h1{
  text-align: center;
  font-family: Merienda One;
}
main{
  width: 400px;
  /* height: 100px; */
  background:#fff;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
}
.question-block{
  width: 400px;
  /* height: 100px; */
  background:#fff;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
  color:black;


}
p {font-family: Merienda One;}
.question{ margin-left: 10px; }
/* Button row up and down */

i{ font-size: 30px; }

/* Answer */
.rowUp{
  display: block;
}
.rowUp-hidden{
  display: none;
}
.rowDown-hidden{
  display: none;
}
.rowDown{
  display: block;
}
/*Toggle icon and show answer*/
.answer-hidden{
  display: none;
}
.answer-show{
  margin-left: 10px;
  display: block;
}
